.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#b-gantt-1-lockedSubgrid {
  background-image: none !important;
}

#b-gantt-1-normalSubgrid {
  background-image: none !important;
}

.b-tree-icon {
  display: none !important;
}

.b-grid-footer-container,
header.b-grid-header-container {
  background-color: #f3f4f5 !important;
}

#b-horizontaltimeaxis-2 {
  background-color: #f3f4f5 !important;
}

#b-horizontaltimeaxis-1 {
  background-color: #f3f4f5 !important;
}

.b-grid-header-text-content {
  color: #55585f !important;
}

.b-grid-row.b-selected {
  background-color: #15b0530c !important;
}

.b-horizontaltimeaxis .b-sch-header-timeaxis-cell {
  border-inline-start: 1px solid #f0f1f3 !important;
}

.b-sch-foreground-canvas > .b-tasknonworkingtime {
  background: #ebf6ffbb;
  color: #83b5fe;
  transition: background 0.5s;
}
.b-theme-classic-dark .b-sch-foreground-canvas > .b-tasknonworkingtime {
  background: #33333366;
}
.b-custom-nonworkingtime .b-sch-foreground-canvas > .b-tasknonworkingtime {
  background: repeating-linear-gradient(
    135deg,
    #9b9b9b26,
    #9b9b9b26 4px,
    transparent 4px,
    transparent 8px
  );
}

.b-custom-nonworkingtime .b-gantt-task > .b-tasknonworkingtime {
  background: repeating-linear-gradient(
    135deg,
    #ffffff4c,
    #ffffff4c 4px,
    rgba(255, 0, 0, 0.2) 4px,
    rgba(255, 0, 0, 0.2) 8px
  );
}

.b-tasknonworkingtime .b-fa-warning {
  color: orange;
  font-size: 1.5em;
}

.b-nonworkingtime-tip-title {
  display: flex;
  margin-top: 0;
  font-weight: bold;
  gap: 0.5em;
}

.b-hbox > .b-box-center,
.b-vbox > .b-box-center {
  justify-content: end !important;
}

.b-button {
  background-color: white !important;
}

.save {
  border-radius: 5px !important;
  left: 10px;
  background-color: #15b053 !important;
  color: white !important;
}

.b-fa {
  color: #575a61 !important;
}

.b-fa-save {
  color: white !important;
}

.b-gantt-task-content {
  padding: 20px !important;
}

.text-planeacion{
  color: black !important;
  padding-right: 625px !important;
}