@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

// Additional styles
@import 'additional-styles/utility-patterns.scss';
@import 'additional-styles/range-slider.scss';
@import 'additional-styles/toggle-switch.scss';
@import 'additional-styles/flatpickr.scss';
@import 'additional-styles/theme.scss';

@layer base {
  * {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -0.05em;
  }

  .layout-height {
    height: calc(100vh - 64px);
  }

  .orders-table {
    height: calc(100vh - 80px - 90px - 70px);
  }

  .user-sider-title {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 2;
  }

  .weekend-day {
    background-color: #f4f4f4;
    //opacity: 1;
    background: repeating-linear-gradient( -45deg, #e6e6e6, #e6e6e6 2px, #f4f4f4 2px, #f4f4f4 10px );
  }

  .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #009B4A;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}